{% load static %}
<form 
        class="" method="post" 
        hx-swap="outerHTML"
        hx-post="{% url 'rating:customer_rate' cake.id %}">
    {% csrf_token %}


    <div class="d-flex align-items-center flex-column gap-2">
        <img src="{{cake.main_pic.url}}" style="width: 100%; aspect-ratio: 21/9; object-fit: cover;"alt="">        
    </div>

    <div class="px-4 pb-4">

        <p class="mt-3 fw-bold text-center">How`s the experience with the cake?</p>
        <div class="d-flex justify-content-around">

            {% for rate in form.rate  %}

                <label class="rate-wrapper xxx" for="{{rate.id_for_label}}">


                    {% if rate.data.value == 1 %}
                        <img src="{% static 'images/icons/crying.png' %}" alt="">
                    {% elif rate.data.value == 2 %}
                        <img src="{% static 'images/icons/sad.png' %}" alt="">
                    {% elif rate.data.value == 3 %}
                        <img src="{% static 'images/icons/neutral.png' %}" alt="">
                    {% elif rate.data.value == 4 %}
                        <img src="{% static 'images/icons/happy.png' %}" alt="">
                    {% elif rate.data.value == 5 %}
                        <img src="{% static 'images/icons/lol.png' %}" alt="">
                    {% endif %}

                    <p>{{rate.data.label}}</p>
                    <input class="d-none" id="{{rate.id_for_label}}" type="radio" name="{{form.rate.name}}" value="{{rate.data.value}}" {% if rate.data.selected %}checked{% endif %}>
                    
                </label>

            {% endfor %}

        </div>

        <textarea class="form-control" rows="3" placeholder="Input your experience, suggestions, etc here" name="{{form.comment.name}}" id="">{% if form.comment.value %}{{form.comment.value}}{% endif %}</textarea>

        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>