.cake-card{
    transition: .25s ease-out;
}
.cake-card:hover{
    box-shadow: 0px 0px .2em 0px $primary !important;
}

.cake-img-zoom .img-zoom-target{
    transition: .5s ease;
}

.cake-img-zoom:hover .img-zoom-target{
    transform: scale(1.2);
}



.cart-item:has(input[type="checkbox"]:checked){
    background-color: $primary-light;
}
