.rate-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        transition: .3s ease;
        cursor: pointer;
        width: 4em;
        aspect-ratio: 1/1;
        filter: brightness(400%);
    }

    p{
        font-size: .85em;
    }
}

.rate-wrapper:has(input[type="radio"]:checked) img{
    filter: brightness(100%);
}

