
html{
    font-size: 16px !important;
}


// colors
$primary: #BE2776;
$primary-light: #FFF3F9;

$black_900: #161616;
$black_800: #3C3C3C;
$black_700: #707070;


// forms 

$input-bg: transparent;
$input-border-color: $black_900;
$input-border-width: .15em;

$input-focus-border-color: $primary;
$input-focus-box-shadow:  none;


// custom 

@import 'fonts';
@import 'img';
@import 'table';
@import 'cake_card';

// navbar variables
@import 'navbar_variables';

// bootstrap 
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// Merge with Bootstrap's default theme colors
$theme-colors: map-merge($theme-colors, (
  "black-900": $black_900,
  "black-800": $black_800,
  "black-700": $black_700,
  "primary-light" : $primary-light
));

@import '../node_modules/bootstrap/scss/bootstrap';

