
{% extends 'core/core_staff.html' %}

{% block content %}
   
    <div class="container mt-4">
        
        <form action="{% url 'cake:edit' object.id %}" enctype="multipart/form-data"  method="post">
            <h4 class="fw-bold">Edit Cake</h4>
            {% csrf_token %}
            {{form}}


                <button class="btn btn-primary" type="submit">Save</button>


        </form>
        <form action="{% url 'cake:delete' object.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form> 

    </div>

{% endblock content %}
    
