<div class="form-group">
    <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
    <textarea style="{% spaceless %}{% if height %}height:{{height}}ch;{% else %}height: 18ch;{% endif %}{% endspaceless %}" value="{{field.value}}" id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" class="form-control {% if field.errors|length %}is-invalid{% endif %}"  {% if  field.field.required %}required{% endif %}>{% spaceless %}{{field.value}}{% endspaceless %}</textarea>
    <div class="errors">{{ field.errors }}</div>
</div>