
    <div class="w-100 pt-2" hx-ext="ws" id="chat_container" ws-connect="/ws/chat/channel_{{object.id}}/">


        <div style="height: 350px; " id="chat_box" class="d-flex flex-column gap-4 overflow-y-scroll">

        </div>

        <!-- send form --> 
        <form class="my-2 d-flex gap-2" id="form"  ws-send>

            <input id="chat-message-input" class="form-control" type="text" name="message" size="100" placeholder="Type your message here"/><br>
            <button class="btn btn-primary" type="submit">Send</button>
        </form> 
    </div>

  {{ chatroom|json_script:'room-name' }}



    <script>
        document.body.addEventListener("htmx:wsAfterSend", function () {
            document.getElementById("chat-message-input").value = "";
        });

        /*
            when a message arrived, update the scroll position
        */
        var chat_container = document.getElementById("chat_container")
        var chat_box = document.getElementById("chat_box")

        chat_container.addEventListener("htmx:wsAfterMessage", function(ev){
            console.log("test")
            chat_box.scrollTo({
                top: chat_box.scrollHeight, 
                behavior : "smooth"
            })
        })


    </script>


    

     