{% extends "core/core_staff.html" %}


{% block title %}
    Messages
{% endblock title %}

    

{% block content %}

    <div class="container">
        

        <h3 class="mt-5" style="font-family: Pacifico;">Messages</h3> 
       
        <div class="row gap-5 mt-4">

            <!-- customer accounts -->
            <div class="col col-3">
                
                <!-- search -->
                <div class="mb-3">
                    <form class="position-relative" action="#" method="get">
                        <input type="text" name="name" class="form-control form-control-lg pe-5" placeholder="Search Message" style="font-size: .9em;">
                    <button class="btn position-absolute rounded rounded-1 d-flex align-items-center justify-content-center p-0" style="width: 2em; height: 2em; background-color: black; color: white; top: 50%; right: 2%; transform: translateY(-50%);">Q</button>
                    </form>
                </div>

                {% for customer in customers %}
                    <div class="p-2 d-flex align-items-center gap-2" hx-get="{% url 'chat:room' customer.id %}" hx-target="#messageBox" hx-swap="innerHTML">
                        <img src="{{customer.account.profile_pic.url}}" style="width: 2.5em; aspect-ratio: 1/1;" class="rounded rounded-5">
                        {{customer.account.first_name}} {{customer.account.last_name}}</div>
                {% endfor %}
            </div>

            <!-- Message Box -->
            <div class="col border border-1 rounded" id="messageBox">
                Message
            </div>
        </div>
        
            
   
    </div>


{% endblock content %}


{% block script %}
    
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock script %}
    