{% extends "core/core.html" %}


{% block title %}
   Chat Lobby 
{% endblock title %}
    

{% block content %}

    <div class="container">

   <p>Enter the chat room</p>
   <p style="font-family: 'Pacifico';">Enter the chat room</p>

   <br>
   <input class="form-control" id="room-name-input" type="text" size="100"><br>
   <input class="btn btn-primary" id="room-name-submit" type="button" value="Enter">
    </div>


{% endblock content %}


{% block script %}
    
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock script %}
    