{% extends 'core/core.html' %}



{% block content %}

   <div style="height: 80vh;" class="container d-flex justify-content-center align-items-center">

      {% csrf_token %}
      <form class="p-4 shadow rounded d-flex flex-column gap-3" style="width: 100%; max-width: 420px;" action="{% url 'account:login' %}" method="post">

         <h4 class="fw-bold">Login</h4>

         
         {% if form.non_field_errors %}

            <div class="alert alert-danger">

               {% for error in form.non_field_errors  %}
                  <p class="mb-0" style="font-size: .9em;">{{error}}</p>
               {% endfor %}

            </div>
            
         {% endif %}
            


         {% csrf_token %}

         {% include 'form_template/text_template.html' with field=form.username %}
         {% include 'form_template/text_template.html' with field=form.password %}

         <a style="font-size: .9em;" class="text-center">Forgot password?</a>

         <div class="mt-4 d-flex flex-column">
            <p style="font-size: .9em;" class="text-center text-black-50 ">Don`t have an account? <a href="#" class="fw-bold">Sign up</a></p>
            <button type="submit" class="btn btn-primary align-self-stretch align-self-end ">Login</button>
         </div>
         


      </form>
   </div>
   
{% endblock content %}
    