{% load static %}

<!-- container -->
<div class="d-flex flex-column gap-4">
        {% regroup orders by status as new_orders  %}
        {% for order_group in new_orders  %}
            
            <div class="order_group">

                <p class="fw-bold">{{order_group.grouper|capfirst}}</p>
                
                <div class="d-flex flex-wrap gap-2">
                {% for order in order_group.list  %}
                    
                    <!-- order -->
                    <div class="overflow-hidden rounded shadow shadow-sm d-flex flex-column justify-content-between" style="min-width: 18.75em;">

                        <!-- group 1 -->
                        <div class="p-4 pb-0">

                            <p style="font-size: .8em;" class="text-black-700 text-end" title="date ordered">{{order.date_ordered|date:'m/d/y'}}</p>

                            <!-- order carts -->
                            <div class="d-flex flex-column gap-3">

                                {% for cart in order.cart_items.all  %}
                                        <div class="d-flex gap-3 align-items-center">
                                            <img src="{{cart.cake.main_pic.url}}" style="width: 3.5em; aspect-ratio: 1/1; object-fit: cover; border-radius: 10%;" title="{{cart.cake.name}} quantity: ({{cart.quantity}})">
                                            <p class="d-flex justify-content-between text-black-700 mb-0 w-100">{{cart.cake.name}} <span class="text-black-600">{{cart.quantity}}</span></p>


                                            {% if  order.status == "fully paid"  %}
                                                <button 
                                                    data-bs-target="#modal_out" data-bs-toggle="modal"
                                                    hx-target="#modal_out_content" hx-swap="innerHTML" 
                                                    hx-get="{% url 'rating:customer_rate' cart.cake.id %}" 
                                                    class="btn p-0" title="rate cake">
                                                    <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/like.png' %}"  alt="">
                                                </button>    
                                            {% endif %}

                                        </div>
                                {% endfor %}

                            </div>

                        </div>    

                        <!-- group 2 -->
                        <div class="mt-4">


                            <!-- total and actions -->
                            <div class="d-flex justify-content-between align-items-center p-4 py-3" style="background-color: #f8f8f8;">

                                <!-- actions -->
                                <!-- total -->

                                
                                {% if not order.status == "fully paid" %}
                                    
                                    
                                <p class="fw-bold mb-0 d-flex gap-1 align-items-center">
                                    <span class="text-black-900">&#8369 {% widthratio order.total_price 2 1 %}</span> 
                                    <span class="fw-normal " style="font-size: .8em; color: #818181;">remaining</span>
                                </p>
                                
                                {% else %}

                                <p class="fw-bold mb-0 d-flex gap-1 align-items-center">
                                    <span class="text-black-900">&#8369 {{order.total_price}}</span> 
                                    <span class="fw-normal " style="font-size: .8em; color: #818181;"> total</span>
                                </p>

                                {% endif %}


                                {% if not order.status == "fully paid"  %}


                                    <div class="d-flex gap-2 ms-2">

                                        <button 
                                            data-bs-target="#modal_out" data-bs-toggle="modal"
                                            hx-target="#modal_out_content" hx-swap="innerHTML" 
                                            hx-get="{% url 'transaction:customer_form' order.id %}" 
                                            class="btn p-0" title="full payment">
                                            <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/down payment.png' %}"  alt="">
                                        </button>    

                                    </div>
                                
                               



                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
</div>