{% load static %}
<table class="table table-borderless">
    <thead>
        <tr>
          <th>Order id</th>
          <th>Items</th>
          <th>Date ordered</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
    </thead>
    
    <tbody>
        {% for order in orders  %}
            <tr>
                <th scope="row" class="text-end align-middle">{{order.id}}</th>
                <td class="align-middle">
                   
                    <div class="d-flex gap-1">
                        {% for cart in order.cart_items.all  %}

                                 <img src="{{cart.cake.main_pic.url}}" style="width: 1.5em; aspect-ratio: 1/1; object-fit: cover; border-radius: 100%;" title="{{cart.cake.name}} quantity: ({{cart.quantity}})">
                        {% endfor %}
                    </div>

                </td>
                <td class="align-middle">{{order.date_ordered|date:'m/d/y'}}</td>
                <td class="text-end fw-bold align-middle">${{order.total_price}}</td>
                <td class="align-middle">
                    <div class="d-flex gap-2">
                        
                        <button data-bs-target="#modal_out" data-bs-toggle="modal"
                                hx-target="#modal_out_content" hx-swap="innerHTML" 
                                hx-get="{% url 'transaction:customer_form' order.id %}" 
                            class="btn p-0" title="orders">
                            <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/order.png' %}"  alt="">
                        </button>    

                        <button data-bs-target="#modal_out2" data-bs-toggle="modal"
                                hx-target="#modal_out2_content" hx-swap="innerHTML" 
                                hx-get="{% url 'order:customer_orders' %}" 
                            class="btn p-0" title="orders">
                            <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/eye.png' %}"  alt="">
                        </button>    


                        <button data-bs-target="#modal_out2" data-bs-toggle="modal"
                                hx-target="#modal_out2_content" hx-swap="innerHTML" 
                                hx-get="{% url 'order:customer_orders' %}" 
                            class="btn p-0" title="orders">
                            <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/delete.png' %}"  alt="">
                        </button>    

                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
        
</table>