{% load static %}

<!-- container -->
<div class="d-flex gap-2 pb-4">
        {% for order in orders  %}
            
            <!-- order -->
            <div class="overflow-hidden rounded shadow shadow-sm d-flex flex-column justify-content-between" style="min-width: 18.75em;">
                
                <!-- group 1 -->
                <div class="p-4 pb-0">

                    <p style="font-size: .8em;" class="text-black-700">Items</p>

                    <!-- order carts -->
                    <div class="d-flex flex-column gap-3">

                        {% for cart in order.cart_items.all  %}
                                <div class="d-flex gap-3 align-items-center">
                                    <img src="{{cart.cake.main_pic.url}}" style="width: 3.5em; aspect-ratio: 1/1; object-fit: cover; border-radius: 10%;" title="{{cart.cake.name}} quantity: ({{cart.quantity}})">
                                    <p class="text-black-700 mb-0">{{cart.cake.name}} <span style="font-size: .8em;" class="text-black-600">({{cart.quantity}})</span></p>
                                </div>
                        {% endfor %}

                    </div>

                </div>    

                <!-- group 2 -->
                <div class="mt-4">

                    <!-- order id and date ordered -->
                    <div class="px-4 d-flex gap-5">

                        <p class="d-flex flex-column align-items-end">
                            <span class="text-black-600" style="font-size: .8em;">Order #</span>
                            <span class="text-black-700">{{order.id}}</span>
                        </p>
                        <p class="d-flex flex-column">
                            <span class="text-black-600" style="font-size: .8em;">Date ordered</span>
                            <span class="text-black-700">{{order.date_ordered|date:'m/d/y'}}</span>
                        </p>

                    </div>

                    <!-- total and actions -->
                    <div class="d-flex justify-content-between align-items-center p-4 py-3" style="background-color: #2c2c2c;">

                        <!-- total -->
                        <p class="fw-bold mb-0 d-flex gap-1 align-items-center">
                            <span class="text-white">${{order.total_price}}</span> 
                            <span class="fw-normal " style="font-size: .8em; color: #E5E5E5;">total</span>
                        </p>

                        <!-- actions -->
                        <div class="d-flex gap-2">

                            <button 
                                data-bs-target="#modal_out" data-bs-toggle="modal"
                                hx-target="#modal_out_content" hx-swap="innerHTML" 
                                hx-get="{% url 'transaction:customer_form' order.id %}" 
                                class="btn p-0" title="place transaction">
                                <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/order.png' %}"  alt="">
                            </button>    

                            <button 
                                data-bs-target="#modal_out2" data-bs-toggle="modal"
                                hx-target="#modal_out2_content" hx-swap="innerHTML" 
                                hx-get="{% url 'order:customer_orders' %}" 
                                class="btn p-0" title="delete order"
                                style="filter: invert(1);">
                                <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/delete.png' %}"  alt="">
                            </button> 
                        </div>


                    </div>
                </div>
            </div>

        {% endfor %}
</div>