{% extends 'core/core.html' %}
{% load static %}
{% load range_loop %}


{% block links %}
{% endblock links %}
    

{% block content %}



    <div class="container mt-3 pb-5">
        
        <div class="d-flex justify-content-end py-4">
            <form class="d-flex flex-column flex-md-row align-items-md-end gap-2 gap-md-4" action="{% url 'main:cake_page' %}" style="max-width: 36em; width: 100%;">

                <!-- cake name -->
                <div class="form-group">
                    <label for="search_field">Search</label>
                    <input 
                        id="search_field"
                        type="text" name="{{filter.form.name.name}}"
                        class="form-control" placeholder="Type a cake name" >
                </div>

                <div class="row row-cols-2">

                <!-- rating -->
                <div class="form-group">
                    <label for="rating_field">Rating</label>
                    <select class="form-select" name="{{filter.form.rating.name}}" id="rating_field">
                        
                        {% for choice in filter.form.rating %}
                            <option value="{{choice.data.value}}" {% if choice.data.selected %}selected{% endif %}>
                                
                                {% if choice.data.index == "0" %}
                                    All 
                                {% else %}
                                    {{choice.data.label}}
                                {% endif %}
                                    
                                </option>  
                        {% endfor %}

                    </select>
                </div>
                
                <!-- Price -->
                <div class="form-group">
                    <label for="price_field">Price</label>
                    <select class="form-select" name="{{filter.form.price__lt.name}}" id="price_field">
                        
                        {% for choice in filter.form.price__lt %}
                            <option value="{{choice.data.value}}" {% if choice.data.selected %}selected{% endif %}>
                                
                                {% if choice.data.index == "0" %}
                                    All 
                                {% else %}
                                    {{choice.data.label}}
                                {% endif %}
                                    
                                </option>  
                        {% endfor %}

                    </select>
                </div>
                
                </div>
                <button class="btn btn-primary mt-4 mt-md-0" type="submit">Filter</button>
            </form>
        </div>


        {% regroup cakes by group_by as cakes_group %}
        <!-- cake list -->
        <div class="d-flex flex-column gap-5 pb-5">

            {% for cake_item in cakes_group  %}
              
            <!-- cake group -->
            <div>

                <h4 class="fw-bold mb-4" style="">{{cake_item.grouper|capfirst}}</h4>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">

                    {% for cake in cake_item.list  %}
                        <div class="col">
                            <div style="cursor: pointer;" data-aos="fade-up" class=" shadow shadow-sm cake-card cake-img-zoom">
                                    
                                <div  class="overflow-hidden">
                                    <img src="{{cake.main_pic.url}}" style="width: 100%; aspect-ratio: 1.5/1;" class="object-fit-cover img-zoom-target" alt="cake_image">
                                </div>

                                <div class="p-3 mt-2">
                                    <p style="font-size: 1.5em;" class="fw-bold mb-0">&#8369 {{cake.price}}</p>
                                    <p style="font-family: Pacifico;" class="m-0 text-black">{{cake.name}}</p>


                                    <div class="d-flex align-items-center justify-content-between mt-3">
                                        
                                        <div class="d-flex gap-2">
                                            <div>

                                                
                                                {% if cake.avg_rating|times %}
                                                    
                                                    {% for _ in cake.avg_rating|times %}
                                                        <img style="width: 1em; aspect-ratio: 1/1; filter: brightness(80%);" src="{% static 'images/icons/active_star.png' %}" alt="">
                                                    {% endfor %}

                                                    {% else %}

                                                        <p class="mb-0 text-black-700">No Rating Yet</p>
                                                {% endif %}
                                                    
                                            </div> 
                                            <p class="mb-0" title="number of cake ordered by the customers">({{cake.sold}})</p>
                                        </div>

                                        <div class="d-flex justify-content-end gap-2 ">
                                            <button data-bs-target="#modal_out" data-bs-toggle="modal" 
                                                    class="btn p-0" title="add to cart"
                                                    hx-get="{% url 'order:cart_form' cake.id %}" hx-target="#modal_out_content" 
                                                    hx-swap="innerHTML">
                                                <img style="width: 1.5em; aspect-ratio: 1/1;" src="{% static 'images/icons/add_cart.png' %}" alt="">
                                            </button>    
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    {% endfor %}
                        

                </div>
            </div>
            
            
            {% endfor %}
        </div>

    </div>

{% endblock content %}


{% block script %}
{% endblock script %}
    