{% load static %}
<form class="d-flex flex-column gap-2" hx-post="{% url 'order:cart_items_v2' %}" hx-swap="outerHTML" method="post">

    <div class="d-flex justify-content-between p-4 pb-0">
        <h4 class="fw-bold">Cart</h4>

        <button data-bs-target="#modal_out2" data-bs-toggle="modal"
                hx-target="#modal_out2_content" hx-swap="innerHTML" 
                hx-get="{% url 'order:customer_orders' %}" 
            class="btn p-0" title="orders">
            <img style="width: 1.5em; aspect-ratio: 1/1;" src="{% static 'images/icons/order.png' %}"  alt="">
        </button>    
    </div>

    {% if form.non_form_errors %}
        
        <div id="cart-danger" class="alert alert-danger alert-dismissible fade show rounded-0 mb-2" role="alert">
            {% for error in form.non_form_errors  %}
                <strong style="font-size: .78em;">{{error}}</strong>
            {% endfor %}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    
    {% if order_form.errors %}
   
        {% for field in order_form %}
            <div id="cart-danger" class="alert alert-danger alert-dismissible fade show rounded-0 mb-2" role="alert">


                    {% for error in field.errors  %}
                        <strong style="font-size: .78em;">{{error}}</strong>
                    {% endfor %}


                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
        
    
    {% if carts %}
        <div id="cart-alert" class="alert alert-info alert-dismissible fade show rounded-0" role="alert">
            <strong style="font-size: .78em;">Click a cart item to include it for place order.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
        

    
        
    {% csrf_token %}
    

    {{form.management_form}}
    <!-- cart items parent -->
    <div class="d-flex flex-column gap-3 overflow-y-auto scroll" style="max-height: 25em;">
        
        {% for cart in carts  %}

            <div style="cursor: pointer;" class="d-flex flex-column flex-sm-row gap-4 gap-sm-0 px-4 cart-item" title="">
                <!-- img with checkbox -->
                <div class="position-relative" style="pointer-events: none;">
                    <img src="{{cart.cake.main_pic.url}}" class="picture picture-sm" style="aspect-ratio: 5/4;" alt="">
                    <!-- checkbox and cake_id -->
                    <div class="d-flex top-0 position-absolute" style="height: fit-content;">
                        <input class="border-0 m-0 form-check-input border border-primary" type="checkbox" name="form-{{forloop.counter0}}-is_ordered" id="id_form-{{forloop.counter0}}-is_ordered">
                    </div>
            
                    <input class="d-none" type="hidden" name="form-{{forloop.counter0}}-id" value="{{cart.id}}" id="id_form-{{forloop.counter0}}-id">
                </div>

                <!-- cake text info -->
                <div style="pointer-events: none;" class="w-100 p-2 d-flex flex-column gap-3 gap-sm-0 justify-content-between">
                    <!-- heading -->
                    <div class="d-flex justify-content-between align-items-center">
                        <p style="font-family: Pacifico; font-size: 1.25em;" class="mb-0 d-flex align-items-center gap-2">{{cart.cake.name}} <span class="text-black-700" style="font-size: .6em; font-family: Poppins;">({{cart.quantity}})</span></p>
                        

                        <!-- actions -->
                        <div class="d-flex" style="pointer-events: auto;">
                            <button class="btn p-1" title="delete from cart"
                                data-bs-target="#modal_out2" data-bs-toggle="modal">
                                <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/Delete.png' %}"  alt="">
                            </button>    
                            <button data-bs-target="#modal_out2" data-bs-toggle="modal"
                                    class="btn p-1" title="customize cake">
                                <img style="width: 1.25em; aspect-ratio: 1/1;" src="{% static 'images/icons/Edit.png' %}"  alt="">
                            </button>    
                        </div>
                    </div>
                    
                    <!-- summary -->
                    <div style="pointer-events: none;" class="d-flex justify-content-between align-items-end">
                        <!-- cake summary -->
                        <div class=" row row-cols-2 g-2 overflow-hidden" style="max-width: 18em;">
                            <p style="font-size: .87em; text-overflow: ellipsis; " class="mb-0 text">3 layer</p>                        
                            <p style="font-size: .87em; text-overflow: ellipsis; " class="mb-0">Medium</p>                        
                            <p style="font-size: .87em; text-overflow: ellipsis; overflow: hidden;" class="mb-0">White Mocho</p>
                            <p style="font-size: .87em; text-overflow: ellipsis; " class="mb-0">Circle</p>                        
                        </div>

                        <!-- price summary -->
                        <div>
                            <p class="text-black-700 mb-0 text-end" style="font-size: .75em;">Total</p>
                            <p style="font-size: 1.2em;" class="fw-bold mb-0" >${{cart.total_price}}</p>
                        </div>
                    </div>

                </div>

            </div>

        {% endfor %}
    </div>
    
    {% if carts %}
        {% comment %}show only when there is a cart item{% endcomment %}
        <div class="p-4 mt-2 d-flex justify-content-between">

                {% include 'form_template/date_template.html' with field=order_form.date_delivery %}
                <button class="btn btn-primary" type="submit">Checkout</button>
        </div>
    {% endif %}
    
    
    
    {% if not carts %}
        <p class="text-center">Empty Cart, <b class="text-primary"> choose one</b> from our <b class="text-primary"> cakes!</b></p>
    {% endif %}
        
</form>

<!-- for cart items -->
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script>

    $(() => {

        // clicking a cart item
        $(".cart-item").on("click", function(ev){
            
            // find the checkbox of current invoked cart and trigger it
            $(ev.target).find("input[type='checkbox']").click()
        })

        // alert timeout
        setTimeout(function(){
            new bootstrap.Alert($("#cart-alert")).close()
        }, 3000)
    })
</script>