{% load static %}
{% load account_customtags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    {% endblock title %}
    </title>


    <style>
       
    </style>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    
    {% block links %}
        
    {% endblock links %}
        
</head>
<body>

  
  {% if user.is_authenticated %}
    
  
    {% if user|has_group:"Customer" %}

        <div id="chat-container">
            <!-- Floating Chat Icon -->
            <div id="chat-icon" title="Chat with us" hx-get="{% url 'chat:room' user.id %}" hx-target="#messageBox" hx-swap="innerHTML">
                💬
            </div>

            <!-- Initial Message Bubble -->
            <div id="initial-message" class="fade-in">
                Talk with the admin to personalize your cakes.
                <span id="close-msg" >&times;</span>
            </div>

            <!-- Floating Chat Box -->
            <div id="chat-box" class="hidden">
                <div id="chat-header">
                    <span>Live Chat</span>
                </div>
                <div id="messageBox" class="px-2"></div>
            </div>
        </div>
      



    {% endif %}
    
  {% endif %}
    


    {% include 'form_template/modalTemplate.html' with name="out" max_width_modal=37.5 %}
    {% include 'form_template/modalTemplate.html' with name="out2" max_width_modal=45 %}
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container align-items-center ">

        <!-- business logo -->
        <a class="navbar-brand d-flex align-items-center gap-3" href="#">
            <img style="width: 4em; aspect-ratio: 1/1;" src="{% static 'images/logo/logo.png' %}" alt="">
        </a>


        <div class="d-flex align-items-center gap-4">

            <!-- mobile specific -->
            <div class="d-flex d-lg-none">

                {% if user.is_authenticated %}
                     {% if user|has_group:"Customer" %}

                        <li class="nav-item d-flex gap-3 align-items-center">

                          <!-- cart item button -->
                          <button data-bs-target="#modal_out" data-bs-toggle="modal" 
                                  class="btn p-0 position-relative" title="Cart"
                                  hx-get="{% url 'order:cart_items_v2' %}" hx-target="#modal_out_content"
                                  hx-swap="innerHTML">
                            <img src="{% static 'images/icons/shopping_cart.png' %}" style="width: 2em; aspect-ratio: 1/1;" alt="">
                            <div style="top: -5%; left: 28%; background-color: red; width: .9em; aspect-ratio: 1/1;" class="position-absolute rounded rounded-5"></div>
                          </button> 
                          <img src="{{user.account.profile_pic.url}}" style="width: 2.5em; aspect-ratio: 1/1;" class="border border-1 rounded rounded-5" alt="Profile Pic">
                        </li>

                        {% else %}

                        <a class="btn btn-primary ms-5" href="{% url 'account:login' %}">Staff Page</a>
                     {% endif %}
                {% else %}

                  {% if not is_login_page %}
                    <a href="{% url 'account:login' %}" class="btn btn-primary">Login</a>
                  {% endif %}
                      
                {% endif %}
            </div>

            <!-- mobile toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>


    

        <!-- collapsable links -->
        <div class="collapse navbar-collapse justify-content-end mt-3 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link {{home_active}}" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {{cake_active}}" href="#">Cakes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link fw-normal" href="#">About Us</a>
            </li>
            
            {% if user.is_authenticated %}
                 {% if user|has_group:"Customer" %}
                  
                    <li class="ms-lg-5 nav-item d-none d-lg-flex gap-3 align-items-center">

                      <!-- cart item button -->
                      <button data-bs-target="#modal_out" data-bs-toggle="modal" 
                              class="btn p-0 position-relative" title="Cart"
                              hx-get="{% url 'order:cart_items_v2' %}" hx-target="#modal_out_content"
                              hx-swap="innerHTML">
                        <img src="{% static 'images/icons/shopping_cart.png' %}" style="width: 2em; aspect-ratio: 1/1;" alt="">
                        <div style="top: -5%; left: 28%; background-color: red; width: .9em; aspect-ratio: 1/1;" class="position-absolute rounded rounded-5"></div>
                      </button> 
                      <img src="{{user.account.profile_pic.url}}" style="width: 2.5em; aspect-ratio: 1/1;" class="border border-1 rounded rounded-5" alt="Profile Pic">
                    </li>

                    {% else %}

                    <a class="d-none d-lg-block btn btn-primary ms-5" href="{% url 'account:login' %}">Staff Page</a>
                 {% endif %}
            {% else %}

              {% if not is_login_page %}
                <a href="{% url 'account:login' %}" class="d-none d-lg-block btn btn-primary mt-3 mt-lg-0 ms-lg-5">Login</a>
              {% endif %}
                
            {% endif %}
          </ul>



        </div>
      </div>
    </nav>    
    
    {% block content %}
    {% endblock content %}
        
    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/htmx.min.js' %}"></script> 
    <script src="{% static 'js/sse.js' %}"></script> 
    <script src="{% static 'js/ws.js' %}"></script> 
    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
       AOS.init();
    </script>
    {% block script %}{% endblock script %}

        
</body>
</html>