{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock title %}
    </title>


    <style>
       
    </style>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block links %}
        
    {% endblock links %}
        
</head>
<body>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container align-items-center ">

        <!-- business logo -->
        <a class="navbar-brand d-flex align-items-center gap-3" href="#">
            <img style="width: 4em; aspect-ratio: 1/1;" src="{% static 'images/logo/logo.png' %}" alt="">
            <p class="mb-0" style="font-size: 1em;">Barbakesqueue</p>
        </a>

        <!-- mobile toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- collapsable links -->
        <div class="collapse navbar-collapse justify-content-end mt-3 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link {{home_active}}" aria-current="page" href="{% url 'main:index' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Cakes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link fw-normal" href="#">About Us</a>
            </li>
            
            {% if user.is_authenticated %}
              <li class="ms-lg-3 nav-item">

                <a class="mb-0 ms-3 nav-link fw-normal">Welcome, {{ user.username }}!</a>
              </li>
            {% else %}

              {% if not is_login_page %}
                <a href="{% url 'account:login' %}" class="btn btn-primary mt-3 mt-lg-0 ms-lg-5">Login</a>
              {% endif %}
                
            {% endif %}
          </ul>



        </div>
      </div>
    </nav>    
    
    {% block content %}
    {% endblock content %}
        
    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'js/htmx.min.js' %}"></script> 
    <script src="{% static 'js/sse.js' %}"></script> 
    <script src="{% static 'js/ws.js' %}"></script> 
    {% block script %}
        
    {% endblock script %}

        
</body>
</html>