{% extends 'core/core_staff.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <!-- header and nav pills -->
        <h3 class="mt-5" style="font-family: Pacifico;">Orders</h3> 
        <ul id="order_pills" class="nav nav-pills mt-4">
            <li style="width: 7.8em;" class="nav-item text-center"
                hx-get="{% url 'order:not_paid' %}" hx-target="#pill-content" hx-swap="innerHTML">
                <a class="nav-link active" aria-current="page" href="#">No payment</a>
            </li>
            <li style="width: 7.8em;" class="nav-item text-center">
              <a class="nav-link" href="#">Paid</a>
            </li>
            <li style="width: 7.8em;" class="nav-item text-center">
              <a class="nav-link" href="#">Delivered</a>
            </li>
        </ul>

        <!-- changable content -->
        <div id="pill-content" class="table-responsive mt-4"
              hx-get="{% url 'order:not_paid' %}" hx-swap="innerHTML"
              hx-trigger="load">

              <p class="text-center">loading...</p>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script src="{% static 'js/nav.pills.script.js' %}"></script>
{% endblock script %}
    