<form hx-post="{% url 'transaction:customer_form' order.id %}"
      hx-swap="outerHTML"
      enctype="multipart/form-data" class="p-4" method="post">


      {% csrf_token %}

    <div>
        <h4 class="fw-bold" style="font-size: 1.5em;">Payment</h4>
        <p><span class="text-primary">50% downpayment</span> for unpaid order and remaining  <span class="text-primary">50% when delivered</span>.</p>
    </div>

    <div class="mb-4">
        <p class="mb-0">
            <span>Gcash:</span>
            <span>0993 867 6351</span>
        </p>
        <p class="mb-0">
            <span>Bank Account:</span>
            <span>Eunese A. Molleno</span>
        </p>
    </div>

    
    {% if messages %}
        
        {% for message in messages  %}
            <div class="mb-4 alert alert-success alert-dismissible fade pe-2 show d-flex justify-content-between align-items-center gap-5" role="alert">
                <p class="fw-bold mb-0">{{message}}</p>
                <button type="button" class="btn-close position-static" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
            
    {% endif %}
        
    <div class="d-flex flex-column gap-2 mt-4">
        {% include 'form_template/image_template.html' with field=form.image_prof is_create=True %}
        {% include 'form_template/text_template.html' with field=form.reference_number placeholder="N/A if not applicable" %}

        <div class="d-flex justify-content-between mt-5">
            <p class="fw-bold mb-0" style="font-size: 1.5em;">&#8369 {% widthratio order.total_price 2 1 %}<span style="font-size: .5em;" class="text-black-700"> total</span></p>
            <button class="btn btn-primary align-self-end" type="submit">Submit</button>
        </div>
    </div>


</form>
